@model KSP.Models.Beneficiario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beneficiario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParentesco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParentesco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSexo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBeneficiario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
